.a-dashboard-container {
  padding: 20px;
  background-color: #f4f6f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.a-dashboard-container h2 {
  color: rgb(224, 109, 63);
  letter-spacing: 0.3rem;
  align-self: flex-start;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.a-chart-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.a-chart {
  width: 100%;
  max-width: 800px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.a-table-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  max-width: 800px;
  width: 100%;
}

.a-table-wrapper {
  overflow-x: auto;
  width: 100%;
}

.a-table-wrapper table {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px;
}

.a-table-wrapper th,
.a-checkmark td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.a-table-wrapper td:first-child {
  padding-left: 8px;
  padding-right: 8px;
}

.a-table-wrapper th {
  background-color: #f4f4f4;
}

.a-table-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.a-delete-button {
  align-self: flex-end;
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.a-delete-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.a-delete-button:hover:enabled {
  background-color: #cc0000;
}

.a-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.a-modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 20px;
  border-radius: 8px;
  height: 200px;
  width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.a-modal-buttons button {
  margin: 5px;
  padding: 9px 13px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.a-modal-buttons button:first-child {
  background: #ccc;
  color: black;
}
.a-modal-buttons button:first-child:hover {
  background: #959595;
  color: black;
}
.a-modal-buttons button:last-child {
  background: #ff4d4d;
  color: white;
}

.a-modal-buttons button:last-child:hover {
  background: #cc0000;
}
/* Hide the default checkbox */
.a-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.a-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Create a custom checkbox */
.a-checkmark {
  position: relative;
  box-shadow: rgb(255, 84, 0) 0px 0px 0px 2px;
  background-color: white;
  height: 20px;
  width: 20px;
  flex-shrink: 0;
  margin-top: -1px;
  transition: all 0.2s ease 0s;
  cursor: pointer;
  transform-origin: 0px 10px;
  border-radius: 4px;
  margin: -1px 0px 0px 0px;
  padding: 0px;
  box-sizing: border-box;
}

.a-container input:checked ~ .a-checkmark {
  box-shadow: rgb(255, 84, 0) 0px 0px 0px 2px;
  background-color: rgba(245, 24, 24, 0.5);
  height: 20px;
  width: 20px;
  margin-right: 10px;
  flex-shrink: 0;
  margin-top: -1px;
  transition: all 0.2s ease 0s;
  cursor: pointer;
  transform-origin: 0px 10px;
  border-radius: 4px;
  margin: -1px 0px 0px 0px;
  padding: 0px;
  box-sizing: border-box;
}

.a-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.a-container input:checked ~ .a-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.a-container .a-checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
  transition: all 500ms ease-in-out;
}

.a-load-container {
  height: 1000px;
}

@media screen and (max-width: 800px) {
  .a-table-wrapper {
    overflow-x: auto;
  }

  .a-table-card {
    padding: 10px;
  }
}
