
.ad-user-courses-wrap{
    display: flex;
    padding: 70px;
    flex-wrap: wrap;
}

.ad-user-courses-left{
    flex-basis: 15%;
    position: sticky;
    float: none;
    position: sticky;
    top: 10%;
    max-height: 100vh;
    
}

.ad-user-courses-right{
    flex-basis: 85%;
}